body {
  padding: 100px;
  font: 14px "Lato", Helvetica, Arial, sans-serif;
}

.container {
  background-color: #0099ee;
  padding: .75rem 1.25rem;
}
a {
  color: rgb(244, 247, 239);  
}


h1, h2 {
  color: rgb(102, 35, 20);
  display: block;
  font: 24px monospace;
  font-weight: bold;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
textarea{
  font: 24px monospace;
  padding: .75rem 1.25rem;
  margin: .5rem 0 1rem;
  display: inline-block;
  border: 1px solid #ddd;
  box-sizing: border-box;
  width: 100%;
  border-radius: 2px;
}

input[type="submit"],
button,
a.button{
  padding: .37rem .75rem;
  font: 12px monospace;
  text-decoration: none;
  appearance: button;
  color: #fff;
  border: 1px solid #ee0000;
  background: #fff;
  cursor: pointer;
  background: #0099ee;
  border-radius: 2px;
}
